<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" data-cy="filter" matInput placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" data-cy="zip-table">

  <ng-container matColumnDef="zip">
    <th mat-header-cell *matHeaderCellDef>ZIP Code</th>
    <td mat-cell *matCellDef="let element"> {{element.zip}} </td>
  </ng-container>

  <ng-container matColumnDef="town">
    <th mat-header-cell *matHeaderCellDef>Town</th>
    <td mat-cell *matCellDef="let element"> {{element.town}} </td>
  </ng-container>

  <ng-container matColumnDef="canton">
    <th mat-header-cell *matHeaderCellDef>Canton / State</th>
    <td mat-cell *matCellDef="let element"> {{element.cantonDescription}} ({{element.canton}}) </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
